## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bethel,US,2022-03-27 07:15:49,41.3712,-73.4140,40.50,88,20,8.05,few clouds
1,1,Mataura,NZ,2022-03-27 07:15:50,-46.1927,168.8643,54.27,93,0,1.72,clear sky
2,2,Nyurba,RU,2022-03-27 07:15:50,63.2842,118.3319,29.57,76,100,3.87,light snow
3,3,Ayan,RU,2022-03-27 07:15:50,56.4500,138.1667,19.99,87,22,9.57,few clouds
4,4,Port-Gentil,GA,2022-03-27 07:15:51,-0.7193,8.7815,81.16,81,98,10.09,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 0
What is your desired maximum temperature for your trip? 100

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bethel,US,2022-03-27 07:15:49,41.3712,-73.4140,40.50,88,20,8.05,few clouds
1,1,Mataura,NZ,2022-03-27 07:15:50,-46.1927,168.8643,54.27,93,0,1.72,clear sky
2,2,Nyurba,RU,2022-03-27 07:15:50,63.2842,118.3319,29.57,76,100,3.87,light snow
3,3,Ayan,RU,2022-03-27 07:15:50,56.4500,138.1667,19.99,87,22,9.57,few clouds
4,4,Port-Gentil,GA,2022-03-27 07:15:51,-0.7193,8.7815,81.16,81,98,10.09,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
688,688,Datong,CN,2022-03-27 07:20:05,40.0936,113.2914,47.05,16,0,11.36,clear sky
689,689,Masterton,NZ,2022-03-27 07:20:05,-40.9597,175.6575,57.88,95,88,5.41,overcast clouds
690,690,Camargo,MX,2022-03-27 07:20:06,27.6667,-105.1667,62.49,9,88,5.50,overcast clouds
691,691,Wick,GB,2022-03-27 07:20:06,58.4333,-3.0833,37.45,93,100,3.44,overcast clouds
692,692,Ewa Beach,US,2022-03-27 07:20:07,21.3156,-158.0072,73.60,67,0,6.91,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                5
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bethel,US,2022-03-27 07:15:49,41.3712,-73.4140,40.50,88,20,8.05,few clouds
1,1,Mataura,NZ,2022-03-27 07:15:50,-46.1927,168.8643,54.27,93,0,1.72,clear sky
2,2,Nyurba,RU,2022-03-27 07:15:50,63.2842,118.3319,29.57,76,100,3.87,light snow
3,3,Ayan,RU,2022-03-27 07:15:50,56.4500,138.1667,19.99,87,22,9.57,few clouds
4,4,Port-Gentil,GA,2022-03-27 07:15:51,-0.7193,8.7815,81.16,81,98,10.09,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
688,688,Datong,CN,2022-03-27 07:20:05,40.0936,113.2914,47.05,16,0,11.36,clear sky
689,689,Masterton,NZ,2022-03-27 07:20:05,-40.9597,175.6575,57.88,95,88,5.41,overcast clouds
690,690,Camargo,MX,2022-03-27 07:20:06,27.6667,-105.1667,62.49,9,88,5.50,overcast clouds
691,691,Wick,GB,2022-03-27 07:20:06,58.4333,-3.0833,37.45,93,100,3.44,overcast clouds
692,692,Ewa Beach,US,2022-03-27 07:20:07,21.3156,-158.0072,73.60,67,0,6.91,clear sky

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bethel,US,40.50,few clouds,41.3712,-73.4140,
1,Mataura,NZ,54.27,clear sky,-46.1927,168.8643,
2,Nyurba,RU,29.57,light snow,63.2842,118.3319,
3,Ayan,RU,19.99,few clouds,56.4500,138.1667,
4,Port-Gentil,GA,81.16,overcast clouds,-0.7193,8.7815,
5,Busselton,AU,75.85,clear sky,-33.6500,115.3333,
6,Saint-Philippe,RE,83.79,scattered clouds,-21.3585,55.7679,
7,Monopoli,IT,55.72,overcast clouds,40.9559,17.2896,
8,Bonthe,SL,76.91,overcast clouds,7.5264,-12.5050,
9,Kodiak,US,35.11,few clouds,57.7900,-152.4072,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bethel,US,40.50,few clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
1,Mataura,NZ,54.27,clear sky,-46.1927,168.8643,Ellie's Villa
2,Nyurba,RU,29.57,light snow,63.2842,118.3319,"Гостиница ""Comfort"""
3,Ayan,RU,19.99,few clouds,56.4500,138.1667,Gostinitsa
4,Port-Gentil,GA,81.16,overcast clouds,-0.7193,8.7815,Fengshui Residence
...,...,...,...,...,...,...,...
688,Datong,CN,47.05,clear sky,40.0936,113.2914,Holiday Inn Datong City Centre
689,Masterton,NZ,57.88,overcast clouds,-40.9597,175.6575,Copthorne Hotel & Resort Solway Park Wairarapa
690,Camargo,MX,62.49,overcast clouds,27.6667,-105.1667,Hotel Santa Fe
691,Wick,GB,37.45,overcast clouds,58.4333,-3.0833,Mackays Hotel
692,Ewa Beach,US,73.60,clear sky,21.3156,-158.0072,Base Lodging

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig